<a href="https://colab.research.google.com/github/KImre28/ls_data/blob/main/ls_fd_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Forbush decrease selection code

In [ ]:
import pandas as pd
import datetime

In [ ]:

column_names = [
    'Date', 'Time', 'OType', 'SDate', 'STime', 'Qs', 'Source',
    'Vmean', 'VMax', 'TVMax', 'HMax', 'THMax', 'VmHm', 'GammaM', 'GammaD',
    'Vpart', 'Hpart', 'Bzmin', 'ABzmax', 'BzmtoBm', 'Betamin', 'Tbef', 'Taft',
    'TFrom', 'RBulk', 'Vb', 'Bb', 'Kpb', 'Axb', 'Ayb', 'Axyb', 'Pxyb', 'Azb',
    'Apb', 'FData', 'XMagn', 'SDur', 'RB2', 'RB4', 'Alat', 'Hlat', 'Hlon',
    'DstRange', 'DstMin', 'TDstm', 'Kpmax', 'Apmax', 'SType', 'Sbt', 'Magn',
    'MagnM', 'MagnL', 'MagnC', 'Range', 'A10', 'Gm', 'Axym', 'Axm', 'Aym',
    'Pxym', 'Azrange', 'DMin', 'TDMin', 'DMinM', 'TDMinM', 'GrDMin', 'Txymax',
    'DMax', 'TDmax', 'DMaxM', 'TDMaxM', 'Tmax', 'Tmin', 'TMinM', 'TMaxM',
    'Amin', 'Pmin', 'Amax', 'Pmax', 'DMagn', 'AftoB', 'TVmin', 'HCStilt',
    'GLE', 'AFilter', 'IFilter', 'Remarks', 'Value1', 'No', 'Axydm', 'Axdm',
    'Aydm', 'Pxydm', 'Azdm', 'Axy0', 'Ax0', 'Ay0', 'Pxy0', 'Az0', 'Axy1',
    'Ax1', 'Ay1', 'Az1', 'Pxy1', 'Az10', 'EruptAD', 'EruptA', 'EruptD',
    'ErDtoA', 'Vsp', 'AFp', 'Vmaxb', 'AxytoAf', 'D01', 'D02', 'AD02', 'Db1',
    'CMEdate', 'CMEtime', 'CMEangle', 'CMEwidth', 'Vmean0', 'VmeanC', 'H2sum',
    'Dx1b', 'Dy1b', 'Dz1b', 'Adz1b', 'Dxy1b', 'DA11b', 'PDxy1b', 'DPxy1b',
    'DA1b', 'DP1b', 'Hpol1', 'MC', 'MCstartDate', 'MCstartTime', 'Spol', 'Ind',
    'KTmin', 'KTmax', 'BeMin', 'Bemax', 'Tktmin', 'Tktmax', 'Tbemin', 'Tbemax',
    'SSN', 'Var1', 'Var2', 'Is', 'BaseS', 'GammaS', 'SGS', 'MCdur', 'LMC',
    'LrMC', 'Amc', 'Imc', 'BMc', 'BuMC', 'TBmc', 'VMC', 'VuMC', 'TVMC',
    'DVMC', 'Tmcmin', 'Tmcmax', 'Amcm', 'Amcp', 'RMC', 'RuMC'
]
print(len(column_names))

feid_df = pd.read_csv("/content/sample_data/LMKS_NM_1981-2023_hour.parquet.gzip", names=column_names)
feid_df

173

/tmp/ipykernel_10597/1800089650.py:26: DtypeWarning: Columns (117,118,136,137) have mixed types. Specify dtype option on import or set low_memory=False.
  feid_df = pd.read_csv("/media/filip/DATA/zlo≈æky/SPACE::LS/FDs/FEID.csv", names=column_names)

,Date,Time,OType,SDate,STime,Qs,Source,Vmean,VMax,TVMax,...,VMC,VuMC,TVMC,DVMC,Tmcmin,Tmcmax,Amcm,Amcp,RMC,RuMC
0,1954-03-22,17:12:00,1,NaN,NaN,NaN,NaN,0.0,-999.0,-999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1954-06-18,17:24:00,1,NaN,NaN,NaN,NaN,0.0,-999.0,-999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1954-07-19,14:54:00,1,NaN,NaN,NaN,NaN,0.0,-999.0,-999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1954-09-24,08:54:00,1,NaN,NaN,NaN,NaN,0.0,-999.0,-999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954-10-23,07:18:00,1,NaN,NaN,NaN,NaN,0.0,-999.0,-999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8312,2021-12-22,22:00:00,9,2021-12-20,11:12:00,NaN,SF+SF(m1220),0.0,611.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8313,2021-12-24,23:00:00,9,NaN,NaN,NaN,DSF+DSF+SF(12/21),0.0,467.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8314,2021-12-27,09:36:00,9,NaN,NaN,4.0,CH1050+DSFs(12/22-23),0.0,439.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8315,2021-12-29,18:00:00,9,NaN,NaN,NaN,dg CH1051+DSF(12/25),0.0,427.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8316,2021-12-30,12:00:00,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# converting Date column data (strings with dates) into Datetime objects
feid_df['Datetime'] = pd.to_datetime(feid_df['Date']) + pd.to_timedelta(feid_df['Time'])
feid_df.set_index('Datetime', inplace = True)
feid_df.drop(['Date', 'Time'], axis=1, inplace=True)

feid_df.to_parquet('FEID_1981-2012.parquet.gzip', compression='gzip')

In [ ]:
feid_df = pd.read_parquet("/media/filip/DATA/zlo≈æky/SPACE::LS/data/FEID_1981-2012.parquet.gzip")

In [ ]:
# getting rid of all rows before '1981-12-01' and with magnitude smaller than 4
feid_df = feid_df[(feid_df.index >= '1981-12-01 00:00:00') & (feid_df['MagnM'] >= 3)]
print(len(feid_df))


# Calculate the time differences between consecutive rows
time_diff = feid_df.index.to_series().diff().dropna()

# Display the smallest time difference
print("Smallest time difference between consecutive rows:", time_diff.min())


# Convert Timedelta values to seconds and calculate average
total_seconds = sum(td.total_seconds() for td in time_diff)
average_seconds = total_seconds / len(time_diff)

# Calculate the average Timedelta value
average_timedelta = pd.Timedelta(seconds=average_seconds)
# Display the average time difference
print("Average Timedelta:", average_timedelta)

733
Smallest time difference between consecutive rows: 0 days 00:28:00
Average Timedelta: 19 days 21:53:57.377049180

In [ ]:
nm_hdf = pd.read_parquet("/media/filip/DATA/zlo≈æky/SPACE::LS/data/LMKS_NM_1981-2023_hour.parquet.gzip")
omni = pd.read_parquet("/media/filip/DATA/zlo≈æky/SPACE::LS/data/f10-dst_1981-2023_hour.parquet.gzip")
mdfh = pd.concat([nm_hdf, omni], axis=1)

In [ ]:
smdfh = mdfh[:"1990-01-01"].copy()

for step in range(0,8):
    treshold = 0.90 + (step * 0.01)

    found_events_inc = []
    found_events_dec = []
    first = True

    for i, row in smdfh.iterrows():
        #print('index: ', i, 'cols:', row)
        next = mdfh[i + datetime.timedelta(hours=1) : i + datetime.timedelta(hours=24)]

        if(min(next['H_COR']) < (row['H_COR'] *  treshold)):
            if first:
                prev = mdfh[i - datetime.timedelta(hours=24) : i - datetime.timedelta(hours=1)]
                if (max(prev['H_COR']) * (2 - treshold) < row['H_COR']):
                    found_events_inc.append(i)
                else:
                    found_events_dec.append(i)
                first = False
        else:
            first = True

    count_within_range = sum(any((timestamp - pd.Timedelta(hours=24) <= feid_df.index) & (feid_df.index <= timestamp + pd.Timedelta(hours=24)))
                            for timestamp in found_events_dec)

    print(round(treshold, 2), "- From found:", len(found_events_dec), "in FEID:", count_within_range, "- success:", int(count_within_range / len(found_events_dec) * 100))

0.9 - From found: 6 in FEID: 6 - success: 100
0.91 - From found: 6 in FEID: 6 - success: 100
0.92 - From found: 13 in FEID: 13 - success: 100
0.93 - From found: 15 in FEID: 15 - success: 100
0.94 - From found: 28 in FEID: 28 - success: 100
0.95 - From found: 55 in FEID: 55 - success: 100
0.96 - From found: 106 in FEID: 99 - success: 93
0.97 - From found: 288 in FEID: 215 - success: 74

In [ ]:
smdfh = mdfh[:"1990-01-01"].copy()

for step in range(0,8):
    treshold = 0.90 + (step * 0.01)

    found_events_inc = []
    found_events_dec = []
    first = True
    sleep = 0

    for i, row in smdfh.iterrows():
        next = mdfh[i + datetime.timedelta(hours=1) : i + datetime.timedelta(hours=24)]

        if not first:
                sleep += 1

        if(min(next['H_COR']) < (row['H_COR'] *  treshold)):

            if sleep == 0:
                prev = mdfh[i - datetime.timedelta(hours=24) : i - datetime.timedelta(hours=1)]

                if (max(prev['H_COR']) * (2 - treshold) < row['H_COR']):
                    found_events_inc.append(i)
                else:
                    found_events_dec.append(i)

            first = False

        if sleep == 23:
            first = True
            sleep = 0

    count_within_range = sum(any((timestamp - pd.Timedelta(hours=24) <= feid_df.index) & (feid_df.index <= timestamp + pd.Timedelta(hours=24)))
                            for timestamp in found_events_dec)

    print(round(treshold, 2), "- From found:", len(found_events_dec), "in FEID:", count_within_range, "- success:", int(count_within_range / len(found_events_dec) * 100))

0.9 - From found: 5 in FEID: 5 - success: 100
0.91 - From found: 7 in FEID: 7 - success: 100
0.92 - From found: 12 in FEID: 12 - success: 100
0.93 - From found: 15 in FEID: 15 - success: 100
0.94 - From found: 24 in FEID: 24 - success: 100
0.95 - From found: 37 in FEID: 37 - success: 100
0.96 - From found: 82 in FEID: 75 - success: 91
0.97 - From found: 210 in FEID: 157 - success: 74